<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The Market App</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'MarketApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'MarketApp/css/heroic-features.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'Home' %}">
        <img src="{% static 'MarketApp/img/logo3.gif' %}" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %}">
            <a class="nav-link" href="{% url 'Home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item {% if request.path|slice:':5' == '/cart' %}active{% endif %}">
            <a class="nav-link" href="{% url 'Cart' clickedProduct=None mode=None %}">Cart</a>
          </li>
          <li class="nav-item {% if request.path|slice:':9' == '/products' %}active{% endif %}">
            <a class="nav-link" href="{% url 'Products' market=None %}">Products</a>
          </li>
          <li class="nav-item {% if request.path|slice:':13' == '/historyCarts' %}active{% endif %}">
            <a class="nav-link" href="{% url 'HistoryCarts' %}">History Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Page Content -->
{% block content %}
{% endblock %}

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'MarketApp/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'MarketApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
