{% extends "MarketApp/base.html" %}

{% load static %}

{% block content %}

<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-4">Review your historic Carts</h1>
    <p class="lead">You can review your old completed carts. Just select the date and click the botton to take a look, it will showed all of the products, its prices and the total price of the selected cart. </p>
  
    <form action="{% url 'HistoryCarts' %}" method="POST">  
      {% csrf_token %}
      <select class="btn btn-primary" id='hist' name='hist'>
        {% if idSelect == '-1' %}
        <option value='-1' selected>--------------</option>
        {% else %}
        <option value='-1'>--------------</option>
        {% endif %}
        {% for c in carts %}
          {% if idSelect == c.idCart %}
          <option value="{{ c.idCart }}" selected>{{ c.created }}</option>
          {% else %}
          <option value="{{ c.idCart }}">{{ c.created }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <input type="submit" value="Look at this" class="btn btn-primary">      
      <br><br>     
    </form>
    
      {% for s in selected %}
        <p class="btn btn-primary">
          {{ s.nameMarket }}<br>
          {{ s.nameProduct }}<br>
          {{ s.priceProduct }} €<br>
        </p>
      {% endfor %}
      <br>
      <h1 class="breadcrumb"> Total Price: {{ total }} €</h1>
  </header>

</div>
<!-- /.container -->

{% endblock %}
