{% extends "MarketApp/base.html" %}

{% load static %}

{% block content %}

<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-4">Review your historic Carts</h1>
    <p class="lead">Have you place all yours items in the cart? Well, it's the check out moment, please push the button and confirm your shopping cart. When you finish the process, your purchase will be saved and the cart will be empty again.</p>      
    <form action="{% url 'HistoryCarts' idSelect=0 %}">
      <select  name="carts" id="carts" class="btn btn-primary">  
        <option value="" selected>--------------</option>
        {% for c in carts %}
        <option value="{{ c.id }}">{{ c.created }}</option>    
        {% endfor %}
      </select>
      <input type="submit" value="Look at this" class="btn btn-primary">
      <br><br>
    </form>
  </header>

  <form action="/historyCarts/" method="POST">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Enviar">
  </form>

</div>
<!-- /.container -->

{% endblock %}
