<html>
    <head>
        <title>Resultados Búsqueda de Productos</title>
    </head>
    <body>

        <p>Estás buscando: <strong>{{query}}</strong></p>

        {% if articulos %}

            <p>Artículos encontrados: {{articulos|length}} artículos</p>

            <ul>
                {% for a in articulos %}

                <li>
                    {{a.nombre}} &nbsp; {{a.seccion}} &nbsp; {{a.precio}}
                </li>

                {% endfor %}
            </ul>

        {% else %}

            <p>No hay resultados</p>

        {% endif %}

    </body>
</html>